:root {
  --main-header-background: #17192d;

  --gray-150: #e3eaef;
  --gray-250: #77818c;
  --gray-350: #88929c;
  --white: #ffffff;

  --primary-black-color: #24292f;
  --primary-blue-color: #2188ff;
  --secondary-blue-color: #55a6ff;
  --terciary-blue-color: #f2f8ff;
  --primary-green-color: #52c41a;
  --primary-red-color: #ed3833;

  --secondary-blue-color: #023b78;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--gray-150);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes shimmer {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header #companies-card-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
