:root {
  --main-header-background: #17192d;

  --gray-150: #e3eaef;
  --gray-250: #77818c;
  --gray-350: #88929c;
  --white: #ffffff;

  --primary-black-color: #24292f;
  --primary-blue-color: #2188ff;
  --secondary-blue-color: #55a6ff;
  --terciary-blue-color: #f2f8ff;
  --primary-green-color: #52c41a;
  --primary-red-color: #ed3833;

  --secondary-blue-color: #023b78;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--gray-150);
  color: var(--primary-black-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes shimmer {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes progress {
  0% {
    opacity: 0.5;
    rotate: calc(45deg);
  }
  100% {
    rotate: calc(180deg);
    opacity: 1;
  }
}

button.filter-button-tree {
  background-color: transparent;
  border: 1px solid var(--gray-150);
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 3px;
  padding: 6px 16px 6px 14px;
  color: var(--gray-250);
  transition: 0.5s;
  cursor: pointer;
}
button.filter-button-tree:hover {
  background-color: var(--gray-150);
  transition: 0.5s;
}

section#display-unit-tree {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 8px;
  min-height: 80vh;
}

div#display-unit-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 24px;
}

div.unit-ids-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header #companies-card-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  div.unit-tree-header-containers {
    flex-direction: column;
  }

  div.unit-ids-display {
    min-width: 90px;
    font-size: smaller;
  }
}

@media screen and (max-width: 800px) {
  section#display-unit-tree,
  div#display-unit-grid {
    display: flex;
    flex-direction: column-reverse;
  }
}
